spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://127.0.0.1:5433/user_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        "[format_sql]": true

server:
  port: 8082
