spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://127.0.0.1:5433/user_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        "[format_sql]": true
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        register: true
        service-name: user-service
server:
  port: 8082
jwt:
  secret: "your_jwt_secret_key_should_be_long_and_secure_here_change_this_in_production"
  expiration: 3600000 # 1 hour in milliseconds
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
