spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/auth_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        "[format_sql]": true
  security:
    user:
      name: "admin"
      password: "{noop}admin"
server:
  port: 8081
jwt:
  secret: "your_jwt_secret_key_should_be_long_and_secure_here_change_this_in_production"
  expiration: 3600000 # 1 hour in milliseconds