# version: "3.8"

services:
  user-db:
    image: bitnami/postgresql
    container_name: vibecode-user-db
    environment:
      POSTGRES_DB: user_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - user-data:/var/lib/postgresql
volumes:
  user-data:   
    # Use default driver
    driver: local

