services:
  auth-db:
    image: bitnami/postgresql
    container_name: vibecode-auth-db
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - auth-data:/var/lib/postgresql

volumes:
  auth-data:
    # Use default driver
    driver: local
