spring:
  application:
    name: project-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/project_db

  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        enabled: true
        register: true
        service-name: project-service
server:
  port: 8083

jwt:
  secret: "your_jwt_secret_key_should_be_long_and_secure_here_change_this_in_production"
  expiration: 3600000 # 1 hour in milliseconds
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
